@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Global */
body {
    font-family: "Outfit", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;

    background-color: var(--theme-bg) !important;
}

:root {
    --black : #011e41;
    --black-1 : #101010;
    --blue  : #004F9F;
    --white : #FFFFFF;
    --red   : #e1261c;
    --orange: #f38220;
    --gray  : #6c757d;
    --theme-bg : #f8f9fa;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}
a {
    text-decoration: none !important;
}


.trending .row,
header .search form,
header .search,
header ul,
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding-top: 4rem;
}
.container {
    max-width: 1280px  !important;
}

header ul a:hover,
header ul a,
footer ul img,
footer ul img:hover,
.news .col-4,
.news .col-4:hover,
.news figcaption .view-more a,
.news figcaption .view-more a:hover,
.trending .row a,
.trending .row a:hover {
    transition: all .3s ease-in-out;
}

/* Header */
header {
    padding: .5rem 0;
    box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.05) !important;
}

header ul {
    gap: 2rem;
}
header ul a {
    color: var(--black);
    font-size: 1.2rem;
}
header ul a:hover {
    color: var(--orange);
}
header .search form {
    position: relative;
}
header .search input {
    padding: .3rem .7rem;
    border-radius: 1.5rem;
    border: 1px solid var(--black);
}
header .search input:focus-visible {
    outline: none;
}
header .search button {
    right: -2px;
    position: absolute;

    outline: none;
    border: none;
    background-color: transparent;
}
header .search button img {
    width: 2rem;
}

/* Footer */
footer {
    padding: 1rem 0;
    margin-top: 4rem;
    background-color: var(--black);
}
footer h5 {
    text-align: center;
    color: var(--white);
    margin-bottom: 1rem;
}
footer ul {
    gap: 1rem;
    display: flex;
    justify-content: center;
}
footer ul img {
    width: 3rem;
    padding: .1rem;
    border-radius: 100%;
    border: 2px solid var(--red);
}
footer ul img:hover {
    transform: translateY(-10px);
}

/* Trending */
.trending .row {
    color: var(--white);
    border-radius: .5rem;
    padding: 1rem .5rem 1rem 5rem;
    background-color: var(--blue);
}
.trending figcaption {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.trending figcaption div {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.trending .row a {
    border-radius: 4px;
    font-size: .8rem;
    width: fit-content;
    padding: .7rem 5rem;
    color: var(--white);
    border: 1px solid var(--white);
}
.trending .row a:hover {
    color: var(--blue);
    background-color: var(--white);
}
.trending .thumbnail img {
    width: 100%;
    border-radius: .5rem;
}
.trending .pined-news {
    width: 650px;
    height: 350px;
    object-fit: cover;
}
.trending figcaption img {
    display: none;
}

/* News */
.news .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;
}
.news h2::after {
    content: '';
    width: 4rem;
    display: block;
    padding-top: .3rem;
    border-bottom: 3px solid var(--red);
}
.news .col-4 {
    margin-bottom: 1.5rem;
}
.news .col-4:hover {
    transform: translateY(-15px);
}
.news figure {
    margin: 0;
}
.news figure .thumbnail {
    overflow: hidden;
    border-radius: .7rem .7rem 0rem 0;
}
.news figure .thumbnail img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    transition: all .3s ease-in-out;
    border-radius: .7rem .7rem 0rem 0;
}
.news figure .thumbnail:hover img {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
    border-radius: .7rem .7rem 0rem 0;
}
.news figcaption {
    padding: 2rem;
    border-radius: 0 0 .7rem .7rem;
    background-color: var(--white);
}
.news figcaption a {
    font-size: 1.2rem;
    transition: all .3s;
    color: var(--black-1);
}
.news figcaption img {
    width: 1rem;
}
.news figcaption div {
    gap: .6rem;
    display: flex;
    align-items: center;
}
.news figcaption div span {
    color: var(--gray);
}
.news figcaption a:hover {
    color: var(--orange);
    transition: all .3s;
}

/* Pagination */
.pagination {
    gap: .5rem;
    display: flex;
    align-items: center;
}
.pagination li {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--blue);
}
.pagination li.active {
    background-color: var(--red);
}
.pagination li a {
    color: var(--white);
    cursor: pointer;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Article */
.article .row {
    align-items: center;
    justify-content: center;
}
.article .col-8 {
    padding: 1rem;
    border-radius: .3rem;
    border: 1px solid gray;
}
.article h3 {
    color: var(--black);
    margin-bottom: 1.2rem;
}
.article h6 {
    color: var(--red);
    margin: 0;
}
.article img {
    width: 100%;
}
.article .line {
    margin: 1rem 0;
    border-bottom: 1px solid var(--gray);
}
.article .date {
    margin-bottom: .5rem;
    gap: .5rem;
    display: flex;
    align-items: center;
}
.article .date img {
    width: 1.4rem;
}